<form th:action="@{~/souvenir/save}" th:object="${souvenir}" method="post" id="formSouvenir">
    <input type="hidden" th:field="*{id}" readonly>
    <div class="modal-header" style="background-color: #3c8dbc;color: aliceblue;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Souvenir</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="souvenirCode" class="col-sm-4 control-label">* Souvenir Code</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="souvenirCode" th:field="*{code}" placeholder="Auto Generated" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="souvenirName" class="col-sm-4 control-label">* Souvenir Name</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="souvenirName" th:field="*{name}" placeholder="Type Souvenir Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="unitName" class="col-sm-4 control-label">* Unit Name</label>
                            <div class="col-sm-8">
                            <select type="select" class="form-control" placeholder="- Select Unit Name -" th:field="*{mUnitId}" style="width: 100%;">
                                <option value="" selected hidden>- Select Unit Name -</option>
                                <option th:each="item : ${unit}" th:value="${item.id}" th:text="${item.name}"></option>
                            </select>
                        </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-4 control-label">Description</label>
                            <div class="col-sm-8">
                            <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Type Description">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" onclick="alert('Data Saved!')" id="createSouvenir" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-warning pull-right" data-dismiss="modal">Close</button>
    </div>
</form>



