<form th:action="@{~/souvenir/deletesave}" th:object="${souvenir}" method="post" id="formSouvenir">
    <div class="modal-body">
        <input type="hidden" th:field="*{id}" readonly>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="alert('Data Deleted!')">Delete</button>
        <button type="button" class="btn btn-warning pull-right" data-dismiss="modal">Cancel</button>
    </div>
</form>



