
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <head>
        <title>List Souvenir</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <style>
                table.dataTable thead tr {
                    background-color:#3c8dbc;
                    color: aliceblue;
                }
                .inputgroup1 {
                    margin: -10px;
                    margin-top: 1px;
                    margin-left: 5px;
                }
                .inputgroup2 {
                    margin: -6px;
                    margin-top: 10px;
                    margin-left: -1px;
                    margin-bottom: -5px;
                }
                .btn-block {
                    width: 90px;
                }

            </style>
                <h2><b>List Souvenir</b></h2>
            <div class="container">
                <div id="messageSouvenir" hidden>

                </div>
                <!-- <div class="alert alert-info alert-dismissible" id="dataUpdated" style="width: 100%;" hidden>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-info"></i> Data Updated!</h4>
                    <span>Data souvenir has been updated !</span>
                </div>
                <div class="alert alert-info alert-dismissible" id="dataDeleted" style="width: 100%;" hidden> 
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-info"></i> Data Deleted!</h4>
                    <span>Data souvenir has been deleted !</span>
                </div> -->
                <div class="row">
                    <div class="col-lg-11 inputgroup2">
                    </div>
                    <div class="col-lg-1 inputgroup2">
                        <div class="form-group">
                            <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#modal-add-souvenir" onclick="popupCreateContent()">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 inputgroup1">
                            <div class="form-group">
                                <input type="text" class="form-control searchField" placeholder=" Souvenir Code"style="width: 100%;" column="1">
                            </div>
                        </div>
                        <div class="col-lg-3 inputgroup1">
                            <div class="form-group">
                                <input type="text" class="form-control searchField" placeholder=" Souvenir Name"style="width: 100%;" column="2">
                            </div>
                        </div>
                        <div class="col-lg-2 inputgroup1">
                            <div class="form-group">
                                <input type="text" class="form-control searchField" placeholder="  - Select Unit Name -" style="width: 100%;" id="searchUnitName" list="unitName" column="3">
                                <datalist id="unitName">
                                    <option th:each="item : ${souvenir}" th:text="${item.unit.name}"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-lg-2 inputgroup1">
                            <div class="form-group">
                                <div class="input-group date">
                                  <input type="text" class="form-control pull-right searchField" id="datepicker" placeholder=" Created" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask column="4">
                                  <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-2 inputgroup1">
                            <div class="form-group">
                                <input type="text" class="form-control searchField" placeholder=" Created By"style="width: 100%;" column="5">
                            </div>
                        </div>
                        <div class="col-lg-1 inputgroup1">
                            <div class="form-group">
                                <button type="button" class="btn btn-block btn-warning" onclick="reloadPage()">Reset</button>
                            </div>
                        </div>
                        
                </div>
                <table id="souvenirTables" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Souvenir Code</th>
                            <th>Souvenir Name</th>
                            <th>Unit</th>
                            <th>Created Date</th>
                            <th>Created By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${souvenir}">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.code}"></td>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.unit.name}"></td>
                            <td th:text="${#temporals.format(item.createdOn, 'dd/MM/yyyy')}"></td>
                            <td th:text="${item.createdBy}"></th>
                            <td>
                                <button type="button" class="btn btn-link" id="detailsSouvenir" th:value="${item.id}" data-toggle="modal" data-target="#modal-details-souvenir" onclick="popupDetailsContent(this.value)">
                                    <i class="fa fa-search"></i>
                                </button>
                                <button type="button" class="btn btn-link" id="editSouvenir" th:value="${item.id}" data-toggle="modal" data-target="#modal-edit-souvenir" onclick="popupUpdateContent(this.value)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-link" id="deleteSouvenir" th:value="${item.id}" data-toggle="modal" data-target="#modal-delete-souvenir" onclick="popupDeleteContent(this.value)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            
            <div class="modal fade" id="modal-add-souvenir">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content" id="modal-bind-content">

                  </div>
                </div>
              </div>

              <div class="modal fade modal-md" id="modal-edit-souvenir">
                <div class="modal-dialog">
                  <div class="modal-content" >
                    <div class="modal-header" style="background-color: #3c8dbc;color: aliceblue;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-title-edit"></h4>
                    </div>
                    <div id="modal-bind-content-edit">
                        
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade modal-md" id="modal-details-souvenir">
                <div class="modal-dialog">
                  <div class="modal-content" >
                    <div class="modal-header" style="background-color: #3c8dbc;color: aliceblue;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-title-details"></h4>
                    </div>
                    <div id="modal-bind-content-details">
                        
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="modal-delete-souvenir">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content" >
                    <div class="modal-header" style="background-color: #3c8dbc;color: aliceblue;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-title-delete"></h4>
                    </div>
                    <div id="modal-bind-content-delete">
                        
                    </div>
                  </div>
                </div>
              </div>

              <script>
                $(document).ready(function() {
                    var tableUnit = $('#souvenirTables').DataTable({
                        'paging'      : true,
                        'lengthChange': false,
                        'searching'   : true,
                        'ordering'    : true,
                        'info'        : true,
                        'autoWidth'   : false,
                        sDom: 'lrtip'
                    });

                    $(".searchField").on("keyup change", function() {
                        debugger;
                        var input = $(this);
                        var colIndex = parseInt(input.attr("column"));
                        tableUnit.column(colIndex).search(input.val()).draw();
                    });

                    $('#datepicker').datepicker({
                        autoclose: true,
                        format: 'dd/mm/yyyy'
                    });

                    $('#datepicker').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
                });

                function popupCreateContent(){
                    $.ajax({
                        url:'/souvenir/create',
                        type: 'get',
                        contentType:'html',
                        success:function(result){
                            $("#modal-bind-content").html(result);
                        }
                    })
                }

                function popupUpdateContent(id){
                    $.ajax({
                        url:'/souvenir/edit/' + id,
                        type: 'get',
                        contentType:'html',
                        success:function(result){
		                	$("#modal-title-edit").html("Edit Souvenir - " + result.name + " (" + result.code + ")");
                            $("#modal-bind-content-edit").html(result);
                            $("#createSouvenir").on("click", function(){
                                saveMessage();
                            });
                        }
                    })
                }

                function popupDetailsContent(id){
                    $.ajax({
                        url:'/souvenir/details/' + id,
                        type: 'get',
                        contentType:'html',
                        success:function(result){
		                	$("#modal-title-details").html("View Souvenir - " + result.name + " (" + result.code + ")");
                            $("#modal-bind-content-details").html(result);
                        }
                    })
                }

                function popupDeleteContent(id){
                    $.ajax({
                        url:'/souvenir/delete/' + id,
                        type: 'get',
                        contentType:'html',
                        success:function(result){
		                	$("#modal-title-delete").html("Delete Data ?");
                            $("#modal-bind-content-delete").html(result);

                        }
                    })
                }

                function reloadPage(){
                    location.reload(true);
                }



            </script>
        </div>
    </body>
</html>