<form th:action="@{~/unit/save}" th:object="${unit}" method="post" id="formUnit">
    <input type="hidden" th:field="*{id}" readonly>
    <div class="modal-header" style="background-color: #3c8dbc;color: aliceblue;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Unit</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="box-body">
            <div class="form-group">
                <label for="unitCode" class="col-sm-3 control-label">* Unit Code</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="unitCode" th:field="*{code}" placeholder="Auto Generated" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="unitName" class="col-sm-3 control-label">* Unit Name</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="unitName" th:field="*{name}" placeholder="Type Unit Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Type Description">
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="alert('Data Saved!')">Save</button>
        <button type="button" class="btn btn-warning pull-right" data-dismiss="modal">Close</button>
    </div>
</form>



