<form th:object="${unit}" id="formUnit">
    <input type="hidden" th:field="*{id}" readonly>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="box-body">
            <div class="form-group">
                <label for="unitCode" class="col-sm-3 control-label">* Unit Code</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="unitCode" th:field="*{code}" placeholder="Auto Generated" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="unitName" class="col-sm-3 control-label">* Unit Name</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="unitName" th:field="*{name}" placeholder="Type Unit Name" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                <input type="text" class="form-control" id="description" th:field="*{description}" placeholder="Type Description" readonly>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning pull-right" data-dismiss="modal">Close</button>
    </div>
</form>



