
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <head>
        <title>List Unit</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <style>
                table.dataTable thead tr {
                    background-color:#3c8dbc;
                    color: aliceblue;
                }
                .inputgroup1 {
                    margin: -10px;
                    margin-top: 1px;
                    margin-left: 4px;
                }
                .inputgroup2 {
                    margin: -6px;
                    margin-top: 10px;
                    margin-left: 0px;
                    margin-bottom: -5px;
                }
                .btn-block {
                    width: 90px;
                }
                .alert {
                  display: none;
                }

                .dataTables_empty{
                    text-align: center;
                }

                .dataTables_info{
                    text-align: left;
                }

            </style>
                <h2><b>List Unit</b></h2>
            <div class="container">
                <!-- <div class="alert alert-info alert-dismissible" id="dataSaved" style="width: 100%;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-info"></i> Data Saved!</h4>
                    <span>New role has been added</span>
                </div> -->
                <div class="row dataTables_filter" id="unitTables_filter">
                    <div class="col-lg-11 inputgroup2">
                    </div>
                    <div class="col-lg-1 inputgroup2">
                        <div class="form-group">
                            <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#modal-add-unit" onclick="popupCreateContent()">Add</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 inputgroup1">
                            <div class="form-group">
                                <input type="text" class="form-control searchField" column="1" placeholder="  - Select Unit Code -" style="width: 100%;" id="searchUnitCode" list="unitCode">
                                <datalist id="unitCode">
                                    <option th:each="unit : ${unit}" th:text="${unit.code}"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-lg-4 inputgroup1">
                            <div class="form-group">
                                <input type="text" class="form-control searchField" column="2" placeholder="  - Select Unit Name -" style="width: 100%;" id="searchUnitName" list="unitName">
                                <datalist id="unitName">
                                    <option th:each="unit : ${unit}" th:text="${unit.name}"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-lg-2 inputgroup1">
                            <div class="form-group">
                                <div class="input-group date">
                                  <input type="text" class="form-control pull-right searchField" column="3" id="datepicker" placeholder=" Created" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                                  <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-2 inputgroup1">
                            <div class="form-group">
                                <input type="text" class="form-control searchField" column="4" placeholder=" Created By" id="searchCreatedBy" style="width: 100%;">
                            </div>
                        </div>
                        <div class="col-lg-1 inputgroup1">
                            <div class="form-group">
                                <button type="button" class="btn btn-block btn-warning" onclick="reloadPage()" id="buttonReset">Reset</button>
                            </div>
                        </div>
                    </div>
                    <table id="unitTables" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Unit Code</th>
                                <th>Unit Name</th>
                                <th>Created Date</th>
                                <th>Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${unit}">
                                <td th:text="${item.id}"></td>
                                <td th:text="${item.code}"></td>
                                <td th:text="${item.name}"></td>
                                <td th:text="${#temporals.format(item.createdOn, 'dd/MM/yyyy')}"></td>
                                <td th:text="${item.createdBy}"></th>
                                <td>
                                    <button type="button" class="btn btn-link" id="detailsUnit" th:value="${item.id}" data-toggle="modal" data-target="#modal-details-unit" onclick="popupDetailsContent(this.value)">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <button type="button" class="btn btn-link" id="editUnit" th:value="${item.id}" data-toggle="modal" data-target="#modal-edit-unit" onclick="popupUpdateContent(this.value)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-link" id="deleteUnit" th:value="${item.id}" data-toggle="modal" data-target="#modal-delete-unit" onclick="popupDeleteContent(this.value)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            
            <div class="modal fade modal-md" id="modal-add-unit">
                <div class="modal-dialog">
                  <div class="modal-content" id="modal-bind-content">

                  </div>
                </div>
              </div>

              <div class="modal fade modal-md" id="modal-edit-unit">
                <div class="modal-dialog">
                  <div class="modal-content" >
                    <div class="modal-header" style="background-color: #3c8dbc;color: aliceblue;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-title-edit"></h4>
                    </div>
                    <div id="modal-bind-content-edit">
                        
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade modal-md" id="modal-details-unit">
                <div class="modal-dialog">
                  <div class="modal-content" >
                    <div class="modal-header" style="background-color: #3c8dbc;color: aliceblue;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-title-details"></h4>
                    </div>
                    <div id="modal-bind-content-details">
                        
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="modal-delete-unit">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content" >
                    <div class="modal-header" style="background-color: #3c8dbc;color: aliceblue;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-title-delete"></h4>
                    </div>
                    <div id="modal-bind-content-delete">
                        
                    </div>
                  </div>
                </div>
              </div>

              <script>
                $(document).ready(function() {
                    var tableUnit = $('#unitTables').DataTable({
                        'paging'      : true,
                        'lengthChange': false,
                        'searching'   : true,
                        'ordering'    : true,
                        'info'        : true,
                        'autoWidth'   : false,
                        sDom: 'lrtip'
                    });

                    // $(".searchField").on("click", function() {
                    //     debugger;
                    //     var input = $(this);
                    //     if(input.attr("column") != ""){
                    //         var colIndex = parseInt(input.attr("column"));
                    //         tableUnit.column(colIndex).search(input.val()).draw();
                    //     }
                    // });

                    $(".searchField").on("keyup change", function() {
                        debugger;
                        var input = $(this);
                        var colIndex = parseInt(input.attr("column"));
                        tableUnit.column(colIndex).search(input.val()).draw();
                    });

                    // $("#buttonSearch").on("click", function() {
                    //     debugger;
                    //     if($("#searchUnitCode") != ""){
                    //         var input = $("#searchUnitCode");
                    //         var colIndex = parseInt(input.attr("column"));
                    //         tableUnit.column(colIndex).search(input).draw();
                    //     }
                    //     // if($("#searchUnitName") != null){
                    //     //     var input1 = $("#searchUnitName");
                    //     //     var colIndex1 = parseInt(input1.attr("column"));
                    //     //     tableUnit.column(colIndex1).search(input1).draw();
                    //     // }
                    //     // if($("#datepicker") != ""){
                    //     //     var input2 = $("#datepicker");
                    //     //     var colIndex2 = parseInt(input2.attr("column"));
                    //     //     tableUnit.column(colIndex2).search(input2).draw();
                    //     // }
                    //     // if($("#searchCreatedBy") != ""){
                    //     //     var input3 = $("#searchCreatedBy");
                    //     //     var colIndex3 = parseInt(input3.attr("column")); 
                    //     //     tableUnit.column(colIndex3).search(input3).draw();
                    //     // }
                    //     // else{

                    //     // }

                    // });
                    
                    $('#datepicker').datepicker({
                        autoclose: true,
                        format: 'dd/mm/yyyy'
                    });

                    $('#datepicker').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
                });

                function popupCreateContent(){
                    $.ajax({
                        url:'/unit/create',
                        type: 'get',
                        contentType:'html',
                        success:function(result){
                            $("#modal-bind-content").html(result);
                        }
                    })
                }

                function popupUpdateContent(id){
                    $.ajax({
                        url:'/unit/edit/' + id,
                        type: 'get',
                        contentType:'html',
                        success:function(result){
		                	$("#modal-title-edit").html("Edit Unit - " + result.name + " (" + result.code + ")");
                            $("#modal-bind-content-edit").html(result);
                        }
                    })
                }

                function popupDetailsContent(id){
                    $.ajax({
                        url:'/unit/details/' + id,
                        type: 'get',
                        contentType:'html',
                        success:function(result){
		                	$("#modal-title-details").html("View Unit - " + result.name + " (" + result.code + ")");
                            $("#modal-bind-content-details").html(result);
                        }
                    })
                }

                function popupDeleteContent(id){
                    $.ajax({
                        url:'/unit/delete/' + id,
                        type: 'get',
                        contentType:'html',
                        success:function(result){
		                	$("#modal-title-delete").html("Delete Data ?");
                            $("#modal-bind-content-delete").html(result);
                        }
                    })
                }

                function reloadPage(){
                    location.reload(true);
                }

            </script>
        </div>
    </body>
</html>